@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');

:root {
    --Very-Dark-Blue: hsl(212, 100%, 18%);
    --Dark-Grayish-Blue: hsl(213, 19%, 18%);
    --Grayish-Blue: hsl(214, 17%, 51%);
    --Light-Grayish-Blue: hsl(212, 33%, 89%);
    --Very-Light-Gray: hsl(200, 15%, 95%);
    --White: hsl(0, 0%, 100%);
    --Orange: hsl(28, 100%, 52%);
    --Font-Header: 'Bricolage Grotesque', serif;
    --Font-Body: 'DM Sans', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}