@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');

:root {
    --Very-light-blue-btn: hsl(233, 67%, 56%);
    --Very-navy-blue: hsl(248, 70%, 36%);
    --Very-Dark-Blue: hsl(243, 96%, 9%);
    --Dark-Grayish-Blue: hsl(213, 19%, 18%);
    --Grayish-Blue: hsl(214, 17%, 51%);
    --Light-Grayish-Blue: hsl(212, 33%, 89%);
    --Very-Light-Gray: hsl(250, 6%, 84%);
    --White: hsl(0, 0%, 100%);
    --Orange: hsl(28, 100%, 52%);
    --Font-Header: 'Bricolage Grotesque', serif;
    --Font-Body: 'DM Sans', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
img {
    max-width: 100%;
}

body{
    background-color: var(--Very-Dark-Blue);
    color: var(--White);
    height: 100vh;
    font-family: var(--Font-Body);
}

.navbar{
    width: 100%;
    padding: 2rem 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero h1 {
    text-align: center;
    font-family: var(--Font-Header);
    font-size: 2.5rem;
}

.hero-search {
    margin-top: 2rem;
    text-align: center;
}

.hero-search input {
    width: 350px;
    padding: .8rem;
    border-radius: 10px;
    border: none;
    outline: none;
}

.hero-search button {
    padding: .8rem 1.2rem;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: var(--Very-light-blue-btn);
    color: var(--White);
    font-weight: 700;
    cursor: pointer;
    margin-left: .4rem;
}
.attribution {
    font-size: 11px; 
    text-align: center; 
    margin-top: 30rem;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}